@use "src/styles/variables" as vars;

.items {
  width: 85%;

  .headerAdd {
    margin: 1rem 0;
  }

  .headerList {
    margin: 2rem 0 1rem;
  }

  .listLength {
    color: vars.$gray;
  }

  .btnWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;

    .acceptBtn {
      height: 3.5rem;
    }
  }
}
