@import "../../styles/mixins";

.scannerPage {
  .inputToken {
    width: 800px;
    height: 150px;
    margin-bottom: 30px;
    padding: 20px;

    font-size: 30px;

    border: 5px solid $black;
    border-radius: 10px;
  }

  .titleH2 {
    @include setFont(40px, 600, 40px);
    margin-bottom: 20px;
  }
}
