@use "sass:color";
@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixins;

.menuButton {
  cursor: pointer;

  display: block;
  display: flex;
  gap: 0.6rem;
  align-items: center;

  width: max-content;
  padding: 0.6rem;

  text-decoration: none;

  background-color: vars.$black;
  border-radius: 0.8rem;

  &.default {
    width: 29rem;
  }

  &:hover {
    // .text {
    // box-shadow: 0 0 50px -25px vars.$text-color;
    background-color: vars.$text-color;

    // }
  }

  &:active {
    background-color: color.adjust(vars.$text-color, $lightness: 15%);
  }

  .img {
    height: 4rem;
  }

  .text {
    @include mixins.setFont(1.5rem, 600, 1.5rem, white);
  }
}
