@use "sass:color";
@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixins;

.menuButton {
  cursor: pointer;

  display: block;
  display: flex;
  gap: 0.6rem;
  align-items: center;

  max-width: 85%;
  padding: 0.6rem;
  padding-right: 1rem;

  text-decoration: none;

  background-color: vars.$black;
  border-radius: 0.8rem;

  &.default {
    // min-width: 29rem;
    width: 85%;
  }

  &:hover {
    background-color: vars.$text-color;
  }

  &:active {
    background-color: color.adjust(vars.$text-color, $lightness: 15%);
  }

  .img svg {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem;
  }

  .text {
    @include mixins.setFont(1.5rem, 600, 1.5rem, white);
  }

  @media #{vars.$desktop-screen} {
    &.default {
      max-width: 30rem;
    }
  }
}
