@import "variables";

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// @keyframes backgroundLoading {
//     0% {
//         background-position: 100% 0%;
//     }
//     100% {
//         background-position: 0% 0%;
//     }
// }

@mixin setFont($size, $weight, $lineHeight: $size, $color: var(--text-color)) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $color;

  // font-family: "Montserrat";
}

@mixin pageStyle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-height: 100%;
  padding-bottom: 200px;

  .title {
    @include setFont(100px, 600, 100px);
    margin-bottom: 20px;
  }

  .titleMini {
    @include setFont(60px, 600, 60px);
    margin-bottom: 20px;
  }

  .subtitle {
    @include setFont(30px, 400, 30px, #adadad);
    margin-bottom: 80px;
  }
}

@mixin linkButtonStyle {
  cursor: pointer;

  display: block;
  display: flex;
  gap: 15px;
  align-items: center;

  width: max-content;
  padding: 15px;

  text-decoration: none;

  background-color: $black;
  border-radius: 20px;

  &.default {
    width: 700px;
  }

  &:hover {
    // .text {
    box-shadow: 0 0 50px -25px rgb(64 65 102);

    // }
  }

  &:active {
    background-color: color.adjust($black, $lightness: 15%);
  }

  .img {
    height: 100px;
  }

  .text {
    @include setFont(35px, 600, 35px, white);
  }
}
