@use "src/styles/variables" as vars;

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// @keyframes backgroundLoading {
//     0% {
//         background-position: 100% 0%;
//     }
//     100% {
//         background-position: 0% 0%;
//     }
// }

@mixin setFont($size, $weight, $lineHeight: $size, $color: vars.$text-color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $color;
}
