$black: #000f;

// text
$text-color: #44475aff;
$text-color-light: rgb(118 121 139);

// gray
$gray180: rgb(180 180 180);
$gray200: rgb(200 200 200);
$gray220: rgb(220 220 220);
$gray240: rgb(240 240 240);
$gray250: rgb(250 250 250);

// actions
$danger-color: rgb(212 71 71);
$success-color: rgb(71 212 113);
$warning-color: rgb(212 210 71);

// detail craft
$detail-craft-waiting: #e4ea48;
$detail-craft-working: #2ba9fd;
$detail-craft-complete: #47d85d;
