$black: #000f;
$danger-color: rgb(212 71 71);
$success-color: rgb(71 212 113);
$warning-color: rgb(212 210 71);
$detail-craft-waiting: #e4ea48;
$detail-craft-working: #2ba9fd;
$detail-craft-complete: #47d85d;

// $rig-completed: #b3f1bc;
// $rig-production: #b2e0ff;
// $rig-assembly: #c7fc9d;
// $rig-engineering: #f0c7f1;
// $rig-none: #faf1b3;
