@use "sass:map";

$black: #000f;

// text
$text-color: #44475aff;
$text-color-light: rgb(118 121 139);

// gray
$gray-light: rgb(250 250 250);
$gray: rgb(200 200 200);
$gray-dark: rgb(150 150 150);

// $gray180: rgb(180 180 180);
// $gray200: rgb(200 200 200);
// $gray220: rgb(220 220 220);
// $gray240: rgb(240 240 240);
// $gray250: rgb(250 250 250);

// actions
$danger-color: rgb(212 71 71);
$success-color: rgb(71 212 113);
$warning-color: rgb(212 210 71);

// detail craft
$status-color-waiting: #e4ea48;
$status-color-working: #2ba9fd;
$status-color-complete: #47d85d;
$status-colors: (
  "INACTIVE": $gray-dark,
  "WAITING": $status-color-waiting,
  "WORKING": $status-color-working,
  "ASSEMBLY": $status-color-working,
  "COMPLETE": $status-color-complete,
  "DEFECT": $danger-color,
  "WORK": $status-color-working,
  "REPAIR": $danger-color,
  "SLEEP": $gray-dark,
);

// media
// prettier-ignore
$desktop-screen: "screen and (orientation: landscape)"; // and (min-width: 1080px)

// prettier-ignore
$workplace-screen: "screen and (orientation: portrait) and (max-width: 1080px)";
