@use "src/styles/mixins" as mixins;
@use "src/styles/variables" as vars;

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  min-height: 100%;
  padding-bottom: 6rem;

  .title {
    @include mixins.setFont(4rem, 600, 4rem);
    margin-bottom: 0.8rem;
    text-transform: uppercase;
  }

  .titleSmall {
    @include mixins.setFont(2.5rem, 600, 2.5rem);
    text-transform: none !important;
  }

  .subtitle {
    margin-bottom: 3rem;
    color: vars.$gray-dark;
  }

  @media #{vars.$desktop-screen} {
    .titleSmall {
      @include mixins.setFont(2rem, 600, 2rem);
      margin-bottom: 0.5rem;
    }

    .subtitle {
      margin-bottom: 2rem;
      font-size: 1.1rem;
      line-height: 1.1rem;
    }
  }
}
