@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixins;

.detailCard {
  width: 32rem;
  margin: 1.2rem 0;
  padding: 0.8rem;

  border: 0.2rem solid vars.$black;
  border-radius: 0.4rem;

  .titleH3 {
    margin: 0 0 0.8rem 8rem;
  }

  .line {
    @include mixins.setFont(1rem, 600, 1rem);
    display: grid;
    grid-template-columns: 7.2rem 1fr;
    gap: 0.8rem;
    margin-bottom: 0.6rem;

    span {
      justify-self: flex-end;
      color: vars.$gray-dark;
    }
  }
}
