@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixins;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1rem 2rem;

  background-color: white;
  border-bottom: 1px solid vars.$gray;

  .left {
    display: flex;
    flex: 1;
    gap: 1rem;
    align-items: center;

    min-width: 1rem;

    .title {
      transform: translateY(5rem);

      // bottom: -3rem;
      transition: 0.1s;
    }

    .showTitle {
      transform: translateY(0);
    }
  }
}
