@use "src/styles/mixins" as mixins;
@use "src/styles/variables" as vars;

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;

  max-height: max-content;

  .info {
    text-align: right;

    .username {
      @include mixins.setFont(1.25rem, 600, 1.25rem);
    }

    .role {
      @include mixins.setFont(0.9rem, 500, 1.1rem);
      margin-bottom: 2px;
    }

    .jobs {
      @include mixins.setFont(0.6rem, 500, 0.7rem, vars.$gray-dark);

      .job {
        margin-left: 10px;
      }
    }
  }

  .avatar {
    height: 3.5rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}
