@use "src/styles/mixins" as mixins;
@use "src/styles/variables" as vars;

.container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;

  width: fit-content;
  max-height: max-content;

  .info {
    text-align: right;

    .username {
      @include mixins.setFont(1.25rem, 600, 1.25rem);
    }

    .notSelected {
      @include mixins.setFont(1rem, 600, 1rem);
      max-width: min-content;
    }

    .role {
      @include mixins.setFont(0.9rem, 500, 1.1rem);
      margin-bottom: 2px;
    }

    .jobs {
      @include mixins.setFont(0.6rem, 500, 0.7rem, vars.$gray-dark);

      .job {
        margin-left: 10px;
      }
    }
  }

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 3.2rem;
    min-width: 3.2rem;
    height: 3.2rem;

    background-color: vars.$text-color-light;

    // border: 0.1rem solid vars.$black;
    border-radius: 50%;

    // img {
    //   width: 3.5rem;
    //   height: 3.5rem;
    // }

    svg {
      width: 70%;
      height: 70%;

      path {
        stroke: white;
      }
    }
  }
}
