@use "sass:map";
@use "sass:color";
@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixins;

$statuses: "WAITING", "WORKING", "COMPLETE";

@mixin setType($status) {
  &.#{$status} {
    $color: map.get(vars.$status-colors, $status);

    background-color: color.adjust($color, $lightness: 30%);

    // border: 5px solid $color;
    .stageStatus {
      color: white;
      background-color: $color;
    }
  }
}

.stages {
  margin-top: 1.2rem;

  .titleH3 {
    margin-bottom: 0.8rem;
  }

  .stageItemWrap {
    display: flex;
    gap: 1.2rem;
    justify-content: space-between;
    margin: 0.8rem 0;

    button {
      margin-top: 0.4rem;
    }
  }

  .stageItem {
    // display: grid;
    // grid-template-columns: 21.6rem 1fr;
    gap: 0.8rem;

    width: 26rem;
    max-width: 26rem;
    padding: 0.4rem;

    // width: max-content;

    border-radius: 0.4rem;

    .stageStatus {
      @include mixins.setFont(1rem, 600, 1rem);
      width: max-content;
      height: max-content;
      margin-bottom: 0.4rem;
      padding: 0.4rem 0.4rem 0.5rem;

      text-align: center;

      border-radius: 0.4rem;
    }

    .stageName {
      @include mixins.setFont(1.2rem, 600, 1.2rem, rgb(188, 187, 187));
    }

    .stageDesc {
      @include mixins.setFont(1rem, 500, 1rem, rgb(188, 187, 187));
    }

    @for $i from 1 through length($statuses) {
      @include setType(nth($statuses, $i));
    }
  }

  .selected {
    width: calc(100% + 4rem);
    margin: 0.4rem -2rem;
    padding: 0.4rem 2rem;
    background-color: vars.$gray-light;

    .stageName,
    .stageDesc {
      color: vars.$black;
    }
  }

  .skeleton {
    .stageItem {
      margin-bottom: 0.8rem;
      background-color: rgb(250 250 248);

      .stageName {
        margin-bottom: 5px;
      }
    }
  }
}
