@use "src/styles/variables" as vars;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  color: vars.$text-color;

  @media #{vars.$desktop-screen} {
    font-size: 16px;
  }

  @media #{vars.$workplace-screen} {
    font-size: 24px;
  }
}

body {
  background-color: #eee;
}

ul,
li {
  list-style: none;
}
