@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixins;

.appLayout {
  position: relative;
  z-index: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  max-width: 1080px;
  min-height: 100vh;
  margin: 0 auto;

  // outline: 1px solid black;
  background-color: white;

  .content {
    display: flex;
    flex-grow: 1;

    height: 100%;
    margin-top: 5rem;
    padding: 1.5rem 2rem;

    & > * {
      flex: 1;
    }
  }

  .bgLogo {
    position: fixed;
    z-index: -1;
    right: -5rem;
    bottom: -2rem;
    left: -5rem;

    opacity: 0.5;
  }

  @media #{vars.$desktop-screen} {
    .content {
      padding: 0 2rem 1.5rem;
    }

    .bgLogo {
      // right: 30%;
      bottom: 0;
      left: calc(50% + calc(1080px / 2) - 12rem);
      max-width: 10rem;
    }
  }
}
