@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixins;

.appLayout {
  position: relative;
  z-index: 0;

  overflow: hidden;
  display: flex;
  flex-direction: column;

  max-width: 1080px;
  min-height: 100vh;
  margin: 0 auto;

  // outline: 1px solid black;
  background-color: white;

  .content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    padding: 1.5rem 2rem;

    & > * {
      flex: 1;
    }
  }

  .bgLogo {
    position: absolute;
    z-index: -1;
    right: -5rem;
    bottom: -2rem;
    left: -5rem;
  }

  @media #{vars.$desktop-screen} {
    .content {
      padding: 0 2rem 1.5rem;
    }

    .bgLogo {
      right: 2rem;
      bottom: 0;
      left: auto;
      width: 10rem;
    }
  }
}
