@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixins;

.menu {
  .list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;

    margin-bottom: 1rem;

    .boxSvg {
      // display: block;
      // width: 4rem;
      // height: 4rem;

      path {
        stroke: white;
      }
    }

    .strokeSvg {
      // display: block;
      // width: 4rem;
      // height: 4rem;

      path {
        stroke: white;
      }
    }

    .toolsSvg {
      path {
        fill: white;
      }
    }

    .blockTitle {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      color: vars.$text-color-light;

      svg {
        width: 2rem;
        height: 2rem;
      }

      .qrcodeSvg {
        path {
          fill: vars.$text-color-light;
        }
      }

      .monitorSvg {
        path {
          stroke: vars.$text-color-light;
        }
      }
    }
  }
}
